/storage/*.key
/vendor
.env
.env*
!.env.example
/public/vendor/telescope
/public/coverage
/storage/builds
/public/storage
/public/uploads
.phpunit.result.cache
_ide_helper*
.framgia-ci-reports/
.framgia-ci-result.temp.yml
coverages
composer.lock
